<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at
       http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.seatunnel.app.dal.mapper.JobInstanceMapper">
    <resultMap id="BaseResultMap" type="org.apache.seatunnel.app.dal.entity.JobInstance">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="job_define_id" jdbcType="BIGINT" property="jobDefineId"/>
        <result column="job_status" jdbcType="VARCHAR" property="jobStatus"/>
        <result column="job_config" jdbcType="VARCHAR" property="jobConfig"/>
        <result column="engine_name" jdbcType="VARCHAR" property="engineName"/>
        <result column="engine_version" jdbcType="VARCHAR" property="engineVersion"/>
        <result column="job_engine_id" jdbcType="VARCHAR" property="jobEngineId"/>
        <result column="error_message" jdbcType="VARCHAR" property="errorMessage"/>
        <result column="workspace_id" jdbcType="BIGINT" property="workspaceId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , `job_define_id`, `job_status`, `job_config`, `engine_name`, `engine_version`, `job_engine_id`,`error_message`, `workspace_id`
    </sql>

    <select id="queryJobInstanceListPaging" resultType="org.apache.seatunnel.app.domain.dto.job.SeaTunnelJobInstanceDto">
        SELECT ji.*, jd.name AS jobDefineName, cu.username AS username
        FROM t_st_job_instance ji
        LEFT JOIN t_st_job_definition jd ON ji.job_define_id = jd.id
        LEFT JOIN `user` cu ON ji.create_user_id = cu.id
        <where>
            ji.workspace_id = #{workspaceId}
            <if test="startTime != null">
                AND ji.create_time <![CDATA[ >=]]> #{startTime}
            </if>
            <if test="endTime == null">
                AND (ji.end_time is null or ji.end_time <![CDATA[ <=]]> #{endTime})
            </if>
            <if test="endTime != null">
                AND (ji.end_time <![CDATA[ <=]]> #{endTime} or ji.end_time is null)
            </if>
            <if test="jobDefineName != null">
                AND jd.name LIKE concat('%', #{jobDefineName}, '%')
            </if>
            <if test="jobMode != null">
                AND ji.job_type = #{jobMode}
            </if>
        </where>
        ORDER BY ji.create_time DESC
    </select>
</mapper>
