registry=https://registry.npmjs.org/
package-lock=false
audit=false
fund=false
strict-peer-dependencies=false
legacy-peer-deps=true
force=true
prefer-offline=false
progress=false
loglevel=error
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
maxsockets=1